@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 184, 189, 190;
  --background-end-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      330deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slant {
  font-variation-settings: "slnt" -8;
}
